# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
certifi==2020.12.5
dnspython==1.16.0
geographiclib==1.50
geopy==2.1.0
pymongo==3.11.3
pytz==2021.1