<!DOCTYPE html>
<html>
    <body>
        <p>Click the button to get your coordinates.</p>
        <button onclick="getLocation()">Try It</button>
        <p hidden id="browserFingerprint" type=></p>
        <p hidden id="longitude" type=></p>
        <p hidden id="latitude" type=></p>
        <p hidden id="locationError" type=>N</p>
        <p id="location"></p>
        
        <!-- This is needed to get the Finger Print ID for any Device -->
        <script
            async
            src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
            onload="initFingerprintJS()"
        ></script>
    </body>
    <head>
        <script type="text/javascript" src="{{url_for('static', filename='js/location.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/getId.js')}}"></script>
    </head>
</html>